<mat-card>
    <mat-card-title>Atualizar Ator</mat-card-title>
    <form>

        <mat-form-field style="display: inline;">
            <span style="display: inline;">Nome: </span>
            <input matInput placeholder="Nome"
            [(ngModel)]="ator.nome" name="name"
            style="margin-left: 4px;"> 
        </mat-form-field>

    </form>
</mat-card>

<button mat-raised-button color="primary">
    Atualizar
</button>

<button mat-raised-button color="primary" 
style="margin-left: 4px; margin-top: 6px;">
    Cancelar
</button>