<mat-card>
    <mat-card-title>Novo Item</mat-card-title>
    <form>

        <mat-form-field>
            <span>Número de série: </span>
            <input matInput placeholder="Bum.Serie"
            [(ngModel)]="item.numserie" name="numserie"
            type="number"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <span>Tipo do Item: </span>
            <input matInput placeholder="Tipo"
            [(ngModel)]="item.tipoItem" name="valor"
            type="number"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <span>Data de Aquisição: </span>
            <input matInput
            [(ngModel)]="item.dtaquisicao" 
            name="dtaquisicao"
            type="date"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field>
            <span>Título: </span><br>
            <select name="titulo" style="width: 70px;">
                <option *ngFor="let titulo of titulos" [value]="titulo.id">
                  {{titulo.nome}}
                </option>
            </select>
        </mat-form-field> 

    </form>
</mat-card>

<button mat-raised-button color="primary">
    Salvar
</button>

<button mat-raised-button color="primary" 
style="margin-left: 4px; margin-top: 6px;">
    Cancelar
</button>