<div class="mat-elevation-z4">

    <table mat-table [dataSource]="locacoes">

      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <ng-container matColumnDef="DataLoc">
        <th mat-header-cell *matHeaderCellDef>Data Locação</th>
        <td mat-cell *matCellDef="let row">{{row.datalocacao | date: 'dd-MM-yyyy'}}</td>
      </ng-container>
  
      <ng-container matColumnDef="DataDevEfet">
        <th mat-header-cell *matHeaderCellDef>Data Devolução Efetiva</th>
        <td mat-cell *matCellDef="let row">{{row.dataDevolucaoEfetiva | date: 'dd-MM-yyyy'}}</td>
      </ng-container>
  
      <ng-container matColumnDef="DataDevPrev">
        <th mat-header-cell *matHeaderCellDef>Data Devolução Efetiva</th>
        <td mat-cell *matCellDef="let row">{{row.dataDevolucaoPrevista | date: 'dd-MM-yyyy'}}</td>
      </ng-container>
  
      <ng-container matColumnDef="ValCobrado">
        <th mat-header-cell *matHeaderCellDef>Valor Cobrado</th>
        <td mat-cell *matCellDef="let row">{{row.valorCobrado}}</td>
      </ng-container>
  
      <ng-container matColumnDef="MultaCobrada">
        <th mat-header-cell *matHeaderCellDef>Multa Cobrada</th>
        <td mat-cell *matCellDef="let row">{{row.multaCobrada}}</td>
      </ng-container>
  
      <ng-container matColumnDef="Item">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let row">{{row.item?.titulo.nome || ''}}</td>
      </ng-container>

      <ng-container matColumnDef="Cliente">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let row">{{row.cliente?.nome || ''}}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Acao">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
            <a routerLink="/locacao-update/{{row.id}}">
                <i class="material-icons edit">
                    edit
                </i>
            </a>
            <a routerLink="/locacao" (click)="excluir(row.id)">
                <i class="material-icons delete">
                    delete
                </i>
            </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
</div>
