<mat-card>
    <mat-card-title>Atualizar Classe</mat-card-title>
    <form>

        <mat-form-field>
            <input matInput placeholder="Nome"
            [(ngModel)]="classe.nome" name="name"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <input matInput placeholder="Valor"
            [(ngModel)]="classe.valor" name="valor"
            type="number"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <input matInput placeholder="Prazo de Devolucao"
            [(ngModel)]="classe.prazodevolucao" 
            name="prazodevolucao"
            type="number"
            style="margin-left: 4px;"> 
        </mat-form-field>

    </form>
</mat-card>

<button mat-raised-button color="primary" (click) ="atualizar()">
    Atualizar
</button>

<button mat-raised-button color="primary" 
style="margin-left: 4px; margin-top: 6px;" (click) ="cancelar()">
    Cancelar
</button>