<mat-card>
    <mat-card-title>Atualizar Item</mat-card-title>
    <form>

        <mat-form-field>
            <input matInput placeholder="Bum.Serie"
            [(ngModel)]="item.numserie" name="numserie"
            placeholder="Número de série"
            type="number"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <input matInput placeholder="Tipo"
            placeholder="Tipo do item"
            [(ngModel)]="item.tipoItem" name="valor"
            type="number"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <input matInput
            placeholder="Data de Aquisição"
            [ngModel]="item.dtaquisicao | date:'yyyy-MM-dd'" 
            name="dtaquisicao"
            type="date"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <mat-select name="titulo" [(ngModel)]="item.titulo" name="item.titulo" placeholder="Título">
                <mat-option *ngFor="let titulo of titulos" [value]="titulo">
                  {{titulo.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field> 

    </form>
</mat-card>

<button mat-raised-button color="primary" (click) ="atualizar()">
    Atualizar
</button>

<button mat-raised-button color="primary" 
style="margin-left: 4px; margin-top: 6px;" (click) ="cancelar()">
    Cancelar
</button>