<mat-card>
    <mat-card-title>Novo Cliente</mat-card-title>
    <form>

        <mat-form-field>
            <span>Nome: </span>
            <input matInput placeholder="Nome"
            [(ngModel)]="cliente.nome" name="name"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <span>Numero de Inscrição: </span>
            <input matInput placeholder="Valor"
            [(ngModel)]="cliente.numinscricao" name="numinscricao"
            type="number"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <span>Data de Nascimento: </span>
            <input
            matInput 
            [(ngModel)]="cliente.datanascimento" 
            name="datanascimento"
            type="date"
            style="margin-left: 4px;"> 
        </mat-form-field>
    
        <mat-form-field style="margin-left: 20px;">
            <span>Sexo: </span>
            <input
            matInput 
            [(ngModel)]="cliente.sexo" 
            name="sexo"
            type="text"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <span>Está Ativo: </span>
            <input
            [(ngModel)]="cliente.estahativo" 
            name="ativo"
            type="checkbox"
            style="margin-left: 4px;"> 
        </mat-form-field>

    </form>

    <button mat-raised-button color="primary"
    (click) ="criar()">
        Salvar
    </button>
    
    <button mat-raised-button color="primary" 
    style="margin-left: 4px; margin-top: 6px;"
    (click) ="cancelar()">
        Cancelar
    </button>
</mat-card>