<mat-card>
    <mat-card-title>Nova Locação</mat-card-title>
    <form>
        
        <mat-form-field>
            <input matInput placeholder="Valor"
            [(ngModel)]="locacao.valorCobrado" name="valor"
            type="number"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <input matInput placeholder="Data Devolução Efetiva"
            [(ngModel)]="locacao.dataDevolucaoEfetiva" name="dataDevolucaoEfetiva"
            type="date"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <input matInput
            placeholder="Data Devolução Prevista"
            [(ngModel)]="locacao.dataDevolucaoPrevista" 
            name="dataDevolucaoPrevista"
            type="date"
            style="margin-left: 4px;"> 
        </mat-form-field>
    
        <mat-form-field style="margin-left: 20px;">
            <input matInput
            placeholder="Data Locação"
            [(ngModel)]="locacao.datalocacao" 
            name="dataLocacao"
            type="date"
            style="margin-left: 4px;"> 
        </mat-form-field>
<br>
        <mat-form-field>
            <input matInput
            placeholder="Multa Cobrada"
            [(ngModel)]="locacao.multaCobrada" name="multaCobrada"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <mat-select placeholder="Item" [(value)]="locacao.item">
                <mat-option *ngFor="let item of itens" [value]="item">
                  {{item.titulo.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field> 

        <mat-form-field style="margin-left: 20px;">
            <mat-select placeholder="Cliente" [(value)]="locacao.cliente">
                <mat-option *ngFor="let cliente of clientes" [value]="cliente">
                  {{cliente.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </form>
</mat-card>
<button mat-raised-button color="primary" (click) ="criar()">
    Salvar
</button>

<button mat-raised-button color="primary" 
style="margin-left: 4px; margin-top: 6px;" (click) ="cancelar()">
    Cancelar
</button>