<mat-card>
    <mat-card-title>Atualizar Diretor</mat-card-title>
    <form>
        <mat-form-field style="display: inline;">
            <input matInput placeholder="Nome"
            [(ngModel)]="diretor.nome" name="name"
            style="margin-left: 4px;"> 
        </mat-form-field>

    </form>
</mat-card>

<button mat-raised-button color="primary" (click) ="atualizar()">
    Atualizar
</button>

<button mat-raised-button color="primary" 
style="margin-left: 4px; margin-top: 6px;" (click) ="cancelar()">
    Cancelar
</button>