<mat-card>
    <mat-card-title>Novo Título</mat-card-title>
    <form>

        <mat-form-field>
            <input matInput placeholder="Nome"
            [(ngModel)]="titulo.nome" name="name"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <input matInput placeholder="Valor" placeholder="Ano"
            [(ngModel)]="titulo.ano" name="numinscricao"
            type="date"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <input
            matInput
            placeholder="Sinopse"
            [(ngModel)]="titulo.sinopse" 
            name="sinopse"
            type="text"
            style="margin-left: 4px;"> 
        </mat-form-field>
    
        <mat-form-field style="margin-left: 20px;">
            <input
            matInput
            placeholder="Categoria"
            [(ngModel)]="titulo.categoria" 
            name="categoria"
            type="text"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <mat-select [(ngModel)]="titulo.diretor" name="titulo.diretor" placeholder="Diretor"> 
                <mat-option *ngFor="let diretor of diretores" [value]="diretor">
                  {{diretor.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field> 

        <mat-form-field style="margin-left: 20px;">
            <mat-select [(ngModel)]="titulo.classe" name="titulo.classe" placeholder="Classe">
                <mat-option *ngFor="let classe of classes" [value]="classe">
                  {{classe.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field> <br>

        <mat-form-field  style="width: 400px;">
            <mat-select multiple [(ngModel)]="atoresSelecionados" placeholder="Atores Selecionados" name="atoresSelecionados" id="atoresSelecionados">
                <mat-option *ngFor="let ator of atores" [value]="ator">{{ator.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

    </form>
</mat-card>
<button mat-raised-button color="primary" (click) ="criar()">
    Salvar
</button>

<button mat-raised-button color="primary" 
style="margin-left: 4px; margin-top: 6px;" (click) ="cancelar()">
    Cancelar
</button>