<mat-card>
    <mat-card-title>Novo Sócio</mat-card-title>
    <form>

        <mat-form-field style="margin-left: 20px;">
            <input matInput placeholder="CPF"
            [(ngModel)]="socio.cpf" name="cpf"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <input matInput placeholder="Endereço"
            [(ngModel)]="socio.endereco" name="endereco"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;">
            <input matInput placeholder="Telefone"
            [(ngModel)]="socio.tel" name="telefone"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;"> 
            <span>Cliente: </span><br>
            <mat-select multiple [(ngModel)]="socio.dependentes" name="socio.dependentes">
                <mat-option *ngFor="let d of clientes" [value]="d">
                  {{cliente.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button color="primary" (click) ="criar()">
    Salvar
</button>

<button mat-raised-button color="primary" 
style="margin-left: 4px; margin-top: 6px;" (click) ="cancelar()">
    Cancelar
</button>